{% extends '::base.html.twig' %}

{% block title %}deSymfony 2012 - Registro de usuario{% endblock %}

{% block body %}
  {% render 'DeSymfonyUserBundle:Registration:listRandomUsers' %}

  <h1>Registro usuario</h1>
{% endblock %}
